@font-face {
    font-family: Adenium;
    src: url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300;1,400&display=swap");
}

@font-face {
    font-family: Equinox;
    src: url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300;1,400&display=swap");
}

@font-face {
    font-family: EquinoxBold;
    src: url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300;1,400&display=swap");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: EquinoxBold;
    text-align: center;
    list-style-type: none;
    cursor: default;
}

body {
    width: calc(100% - 0);
    background-color: white;
}

.minitop {
    width: 100%;
    background-color: black;
    text-align: end;
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding-right: 20px;
}

@media only screen and (max-width: 650px) and (min-width: 320px) {
    .minitop {
        text-align: center;
        padding-right: 0px;
    }
}

.contenedorMensajeAgregado {
    display: flex;
    justify-content: center;
}

.confirmacion {
    width: 200px;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    z-index: 100000;
    top: 5%;
    text-align: center;
    font-weight: 800;
    line-height: 40px;
    -webkit-animation: scale-out-center 0.4s linear 0.4s both;
    animation: scale-out-center 0.4s linear 0.4s both;
    border-radius: 10px;
}

@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

.carrito {
    width: 45px;
    height: 65px;
    background-color: #1e221cc9;
    position: fixed;
    top: 25%;
    z-index: 100;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carrito__imagen:hover {
    cursor: pointer;
}

.carrito__itemstotal {
    width: 15px;
    height: 27px;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.carrito__icon {
    font-size: 25px;
    color: white;
    font-weight: 100;
}

.carrito__icon:hover {
    color: white;
}

.carrito:hover {
    width: 75px;
    transition: 0.5s;
}

.itemModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.774);
    border-bottom: 4px solid rgba(0, 0, 0, 0.774);
    margin-bottom: 10px;
    border-radius: 5px;
}

.itemModal:hover {
    box-shadow: -1px 0px 5px 1px rgba(12, 12, 12, 0.582);
    transition: 0.3s;
}

.itemModal__imagen {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    align-items: flex-start;
}

.itemModal__info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.itemModal__info__titulo {
    width: 105%;
    text-align: start;
}

.itemModal__info__cantidad {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.itemModal__info__cantidad__input {
    width: 40px;
    text-align: center;
    opacity: 1;
}

.itemModal__info__precio {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.itemModal__eliminar {
    width: 15px;
    border: none;
    align-self: flex-end;
    padding-right: 20px;
    border-radius: 5px;
}

.itemModal__eliminar .fa-trash-alt:hover {
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-body {
    padding: 5px;
}

.modal__total {
    width: 100%;
    height: auto;
    margin: 15px 15px 0px 0px;
    text-align: end;
    font-size: 20px;
}

.modal__total__valor {
    padding-left: 2px;
    font-weight: bold;
    color: black;
}

.modal__total__valorEnvio {
    font-size: 14px;
}

.modal__total:hover {
    cursor: default;
}

.btn__estilo {
    border: 1px solid black;
}

.modalFinalizarCompra {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.modalFinalizarCompra__titulo {
    align-self: flex-start;
}

.modalFinalizarCompra__selector {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.modalFinalizarCompra__retira {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.modalFinalizarCompra__enviar {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(8, 7, 48);
}

.header__logo {
    margin: 2px;
    width: auto;
}

.header__logo__img {
    width: 250px;
}

.header__hide {
    font-size: 0px;
}

.header__ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding-right: 25px;
}

.header__ul__li {
    justify-content: center;
    margin-left: 72px;
}

.header__ul__li__a {
    text-decoration: none;
}

.header__ul__li__a:hover {
    color: black;
    cursor: pointer;
}

.header__ul__li__a__text--color {
    color: black;
}

.header__ul__li:hover {
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
    animation: pulsate-bck 0.5s ease-in-out infinite both;
    color: black;
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.header__ul__responsive {
    display: none;
}


/*Media Queries  1100-650*/

@media only screen and (max-width: 1100px) and (min-width: 650px) {
    .header {
        height: 100px;
    }
    .header__ul {
        display: none;
    }
    .header__ul__responsive {
        display: flex;
        margin-bottom: 0;
    }
    .header__ul__responsive__li {
        margin-right: 40px;
    }
    .header__ul__responsive__li__a__img {
        width: 42px;
    }
    .header__ul__responsive__li:hover {
        -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
        animation: pulsate-bck 0.5s ease-in-out infinite both;
    }
    @-webkit-keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    @keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

@media only screen and (max-width: 800px) and (min-width: 650px) {
    .header__ul__responsive__li {
        margin-right: 20px;
    }
}


/*Media Queries  649-320*/

@media only screen and (max-width: 650px) and (min-width: 320px) {
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 300px;
        padding-bottom: 30px;
    }
    .header__ul {
        display: none;
    }
    .header__ul__responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20%;
        padding: 0;
    }
    .header__ul__responsive__li__a__img {
        width: 60px;
    }
    .header__ul__responsive__li__a__img:hover {
        -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
        animation: pulsate-bck 0.5s ease-in-out infinite both;
    }
    @-webkit-keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    @keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.main {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.main__titulo {
    text-align: center;
    letter-spacing: 3px;
    font-size: 70px;
    padding-top: 50px;
    font-family: adenium;
}

.main__botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 5px;
}

.main__botones__click {
    width: 120px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid black;
}

.main__botones__click:hover {
    transition: 0.4s linear;
    background-color: black;
    color: white;
}

.main__productos {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.main__productos__card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.main__productos__card__image {
    width: 280px;
    height: 300px;
    border: 2px solid black;
}

.main__productos__card__image:hover {
    cursor: zoom-in;
}

.main__productos__card__image__modal {
    width: 90%;
    margin: 0 auto;
}

.main__productos__card__title {
    width: 90%;
    height: 55px;
    text-align: start;
    margin: 0 auto;
    padding-top: 5px;
}

.main__productos__card__precio {
    text-align: center;
}

.main__productos__card__button {
    width: 50%;
    height: 25px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #ffcfdb;
    background-color: black;
    color: white;
    text-decoration: none;
}

.main__productos__card__button:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.897);
}

.footer__datos__texto {
    text-align: center;
    color: #b1acac;
    margin-bottom: 1rem;
}

.footer__datos--size {
    font-size: 2em;
}

.footer__linea {
    height: 60%;
    width: 5px;
    background-color: #b1acac;
    border-radius: 50%;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
    align-items: center;
    height: unset;
    margin-top: unset;
}

.footer__redes__icon--color {
    color: #b1acac;
}

.footer__redes__icon--size {
    font-size: 3em;
}

.footer__redes__icon--efect:hover {
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    cursor: pointer;
}

@-webkit-keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        flex-direction: column-reverse;
        height: 350px;
        padding-top: 25px;
    }
    .footer__datos__texto {
        text-align: center;
    }
    .footer__linea {
        width: 60%;
        height: 5px;
        background-color: #83837f;
        border-radius: 50%;
    }
    .footer__redes {
        gap: 15px;
    }
}


/*Media Queries  1100-650*/

@media only screen and (max-width: 1100px) and (min-width: 650px) {
    .footer__redes {
        gap: 2.1em;
    }
}


/*Media Queries  649-320*/

@media only screen and (max-width: 650px) and (min-width: 320px) {
    .footer {
        flex-direction: column-reverse;
        height: 350px;
        padding-top: 25px;
    }
    .footer__datos__texto {
        text-align: center;
    }
    .footer__linea {
        width: 60%;
        height: 5px;
        background-color: #83837f;
        border-radius: 50%;
    }
    .footer__redes {
        gap: 15px;
    }
}

.hide {
    display: none;
}

.loadingTienda {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: url(../.././img/loading.gif);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom;
    background-color: white;
    bottom: 0px;
}

footer {
    background-color: #617994;
    text-align: center;
    font-size: 1.3rem;
}

footer img {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 400px;
    height: 300px;
}

footer img:hover {
    transform: rotate(-360deg);
    transition: transform 1s;
}

nav img:hover {
    transform: rotate(-360deg);
    transition: transform 2s;
}

body {
    background-color: #9FCBF8;
    background-image: url(/img/b1.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

header {
    background-color: #d9dfec;
    text-align: center;
    font-size: 1.3rem;
    color: #070806;
}

main {
    background-color: #51fa51;
    text-align: center;
    font-size: 1.3rem;
    color: #0f0f05;
}

div {
    text-align: center;
    font-size: 1.3rem;
    color: #11110d;
}

aside {
    background-color: #1e33a7;
    text-align: center;
    font-size: 1.3rem;
    color: #c2d1b8;
}