.loading {
  width: 100%;
  height: 98%;
  bottom: 0;
  background-image: url(../.././img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  background-color: white;

  &Tienda {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: url(../.././img/loading.gif);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom;
    background-color: white;
    bottom: 0px;
  }
}
