@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300;1,400&display=swap');

$fontMain:'Aleo', serif;
$fontRegular: 300;
$fontBold:400;

.textMedium{ font-size: 1.2em;} 
.textBig{ font-size: 2em;} 